.container{
    background-color: #C0C0C0;
}
#selo{
    max-width: 150px;
    max-height: 150px;
}

#ass-neymar{
    max-width: 120px;
    max-height: 120px;
}

#logo{
    max-width: 250;
    max-height: 250px;
}